<%= turbo_frame_tag dom_id(order), class: "table-row border-t border-gray-400 hover:bg-gray-100" do %>
    <div class="table-cell p-3"><%= order.name %></div>
    <div class="table-cell p-3"><%= order.status %></div>
    <div class="table-cell p-3"><%= order.customer_name %></div>
    <div class="table-cell p-3"> <%= link_to "View", order, class: "btn btn-link no-underline" %> </div>
<% end %>
